<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.bluejack20_2.dietary">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch"  />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dietary">

        <activity android:name=".MainIngredientsUpdateActivity"></activity>
        <activity android:name=".CustomMealDetail"/>
        <activity
            android:name=".FriendCustomMealDetail"/>
        <activity android:name=".services.home_page.Meal" />
        <activity android:name=".MealDetail" />
        <activity android:name=".AddCustomMealActivity" />
        <activity android:name=".DietPlanActivity" />
        <activity android:name=".BMIActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".MainIngredients" />
        <activity android:name=".EditProfile" />
        <activity android:name=".services.login.LoginActivity" />
        <activity android:name=".UserDetail" />
        <activity android:name=".UserFriend" />
        <activity android:name=".services.friendpage.add_friend.AddFriend" />
        <activity android:name=".services.register.RegisterActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Dietary.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name=".services.AlarmReceiver"
            tools:ignore="MissingClass" />

        <receiver android:name=".fcm.NotificationBroadcastReceiver"
            tools:ignore="MissingClass" />

        <receiver android:name=".services.NotificationService" />
    </application>

</manifest>