<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.bluejack20_2.dietary">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch"  />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dietary">

        <activity
            android:name=".FriendCustomMealDetail"/>
        <activity android:name=".Meal" />
        <activity android:name=".MealDetail" />
        <activity android:name=".AddCustomMealActivity" />
        <activity android:name=".DietPlanActivity" />
        <activity android:name=".BMIActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".MainIngredients" />
        <activity android:name=".EditProfile" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".UserDetail" />
        <activity android:name=".UserFriend" />
        <activity android:name=".AddFriend" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Dietary.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>